@{
    ViewData["Title"] = "Документация";
}

<div class="row">
    <div class="col-4">
        <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
            <nav class="nav nav-pills flex-column">
                <a class="nav-link" href="#item-1">Математическая модель</a>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link ms-3 my-1" href="#item-1-1">Критерии</a>
                    <a class="nav-link ms-3 my-1" href="#item-1-2">Альтернативы</a>
                </nav>
                <a class="nav-link" href="#item-2">Информация о важности критериев</a>
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link ms-3 my-1" href="#item-2-1">Порядковая информация</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ms-5 my-1" href="#item-2-1-1">Набор простых отношений</a>
                        <a class="nav-link ms-5 my-1" href="#item-2-1-1">Лексикографическое отношение</a>
                    </nav>
                    <a class="nav-link ms-3 my-1" href="#item-2-2">Количественная информация</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ms-5 my-1" href="#item-2-2-1">Простое ранжирование</a>
                        <a class="nav-link ms-5 my-1" href="#item-2-2-1">Пропорциональный метод</a>
                    </nav>
                </nav>
            </nav>
        </nav>
    </div>

    <div class="col-8">
        <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
            <div id="item-1">
                <h4>Математическая модель</h4>
                <p>Математическая модель содержит в себе наборы альтернатив и критериев</p>
            </div>
            <div id="item-1-1">
                <h5>Критерии</h5>
                <p>Критерии представляют собой некоторые характеристики, используемые для оценки исходов задач принятия решений</p>
            </div>
            <div id="item-1-2">
                <h5>Альтернативы</h5>
                <p>Альтернативы представляют собой различные варианты достижения цели. Они являются неотъемлемой частью проблемы принятия решения, поскольку если не из чего выбирать, то и нет выбора </p>
            </div>
            <div id="item-2">
                <h4>Информация о важности критериев</h4>
                <p>Информация, получаемая от лица, принимающего решение (ЛПР) для построения решающего правила в задаче</p>
            </div>
            <div id="item-2-1">
                <h5>Порядковая информация</h5>
                <p>Порядковая информация устанавливает факт превосходства по важности одного критерия над другим, но ничего не говорит об измерении этого превосходства</p>
            </div>
            <div id="item-2-1-1">
                <h6>Набор простых отношений</h6>
                <p>Набор простых отношений представляется в виде сообщений о равной важности некоторых критериев, о превосходстве по важности одного критерия над другим, о превосходстве по важности одной группы критериев над другой или об абсолютном превосходстве по важности одного критерия над группой других</p>
            </div>
            <div id="item-2-1-2">
                <h6>Лексикографическое отношение</h6>
                <p>Лексикографическое отношение предпочтения представляет собой особую форму порядковой информации о важности критериев. Данное предпочтение включает в себя одно сообщение о важности критериев, которое представляется в виде набора критериев, упорядоченных по важности.</p>
            </div>
            <div id="item-2-2">
                <h5>Количественная информация</h5>
                <p>Количественная информация о важности критериев задаётся в виде набора приоритетов критериев, превосходящих нулевые значения</p>
            </div>
            <div id="item-2-2-1">
                <h6>Простое ранжирование</h6>
                <p>Метод задания количественной информации, при котором каждый критерий получает свой ранг</p>
            </div>
            <div id="item-2-2-2">
                <h6>Пропорциональный метод</h6>
                <p>Метод задания количественной информации, при котором критерии получают весовую характеристику</p>
            </div>
        </div>
    </div>
</div>